# Extra / required options for Lenovo Q706F on linux-postmarketos-qcom-sm8250 6.17
CONFIG_DRM_PANEL_SAMSUNG_AMSA26ZP01=y
CONFIG_TYPEC_DP_ALTMODE=y
CONFIG_TYPEC_MUX_NB7VPQ904M=y
CONFIG_TYPEC_MUX_FSA4480=y
CONFIG_RTC_DRV_PM8XXX=y
CONFIG_SND_SOC_CS35L45=m
CONFIG_SND_SOC_CS35L45_I2C=m
# CONFIG_SND_SOC_CS35L45_SPI is not set
